<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet"> --}}
  <title>Code Spot - A Dev Resource for Bootcamp</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/profile"><img class="logo img-fluid" src="/images/codespot.png" height="120px" width="150px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          {{!-- {{#if user}}
          <li class="nav-item">
            <a class="nav-link nav_text" href="/profile">PROFILE</a>
          </li>
          {{/if}} --}}
        </ul>
        <ul class="navbar-nav">
          {{#unless user}}
          <li class="nav-item">
            <a class="nav-link nav_text" href="/">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_text" href="/login">LOGIN</a>
          </li>
          {{/unless}}
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link nav_text" href="/profile">TOPICS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav_text" href="/login">LOGOUT</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
  <!-- Footer -->
  <hr>
  <footer class="page-footer navbar-fixed-bottom font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright | UCSD Full Stack Development Bootcamp

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/login.js"></script> 
  <script src="/js/threads.js"></script>
  <script src="/js/posts.js"></script>
  <script src="/js/example.js"></script>

</body>

</html>