<div class="row">
  <div class="col-8 offset-2">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Threads</h5>
        <p>
          <strong>User</strong>: {{example.id}}</p>
        <p>
        <p>
          <strong>Title</strong>: {{example.text}}</p>
        <p>
          <strong>Thread Content:</strong> {{example.description}}</p>
          <a href="/profile">← Back To Topics</a>
      </div>
    </div>
  </div>
</div>