<div class="row">
  <div class="col-8 mt-3">
    <h1>Hello {{user.user_name}}!</h1>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-4">
    <div class="card border-dark" style=" margin: 5px;">
      {{!-- <div class="card-body"> --}}
      <img src="/images/github.png" class="mx-auto mt-3 mb-2 d-block">
      <h5 class="card-title text-center">Github</h5>
      <button type="button" data-id="1" data-title="GitHub" class="btn btn-dark btn-lg btn-block topics">Take me to the topic</button>
      {{!-- </div> --}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card border-dark" style=" margin: 5px;">
      {{!-- <div class="card-body"> --}}
      <img src="/images/bootstrap.png" class="mx-auto mt-3 mb-2 d-block">
      <h5 class="card-title text-center">Bootstrap</h5>
      <button type="button" data-id="2" data-title="Bootstrap" class="btn btn-dark btn-lg btn-block topics">Take me to the topic</button>
      {{!-- </div> --}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card border-dark"  style="margin: 5px;">
      {{!-- <div class="card-body"> --}}
      <img src="/images/node.png" alt="Node.js" class="mx-auto mt-3 mb-2 d-block">
      <h5 class="card-title text-center">Node.js</h5>
      <button type="button" data-id="3" data-title="Node" class="btn btn-dark btn-lg btn-block topics">Take me to the topic</button>
      {{!-- </div> --}}
    </div>
  </div>

</div>

<div class="row mt-5">
  <div class="col-sm-4">
    <div class="card border-dark" style=" margin: 5px;">
      {{!-- <div class="card-body"> --}}
      <img src="/images/jquery.png" class="mx-auto mt-3 mb-2 d-block">
      <h5 class="card-title text-center">jQuery</h5>
      <button type="button" data-id="4" data-title="jQuery" class="btn btn-dark btn-lg btn-block topics">Take me to the topic</button>
      {{!-- </div> --}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card border-dark" style=" margin: 5px;">
      {{!-- <div class="card-body"> --}}
      <img src="/images/mysql.png" class="mx-auto mt-3 mb-2 d-block">
      <h5 class="card-title text-center">MySQL</h5>
      <button type="button" data-id="5" data-title="MySQL" class="btn btn-dark btn-lg btn-block topics">Take me to the topic</button>
      {{!-- </div> --}}
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card border-dark" style=" margin: 5px;">
      {{!-- <div class="card-body"> --}}
      <img src="/images/javascript.png" class="mx-auto mt-3 mb-2 d-block">
      <h5 class="card-title text-center">Javascript</h5>
      <button type="button" data-id="6" data-title="JavaScript" class="btn btn-dark btn-lg btn-block topics">Take me to the topic</button>
      {{!-- </div> --}}
    </div>
  </div>

</div>

<script>
 $(".topics").on("click", function(e){
   e.preventDefault();
    const threadID = $(this).attr("data-id");
    const cardTitle = $(this).attr("data-title");;
    window.location.href = `/threads/${cardTitle}/${threadID}`;
});
</script>


{{!-- $(".topics").on("click", function (event) {
    event.preventDefault();
    let id = $(this).data("id");
    let query = `topics/${id}`;
    // Signals back end to make 
    $.get(query, function () {})
    
  }); --}}