<div class="row">
  <div class="col-8 mt-3">
    <h1>Hello {{user.email}}!</h1>
  </div>
</div>

<div class="row mt-4">
  <div href="#" class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Github</h5>
        <img src="#">
        <button type="button" class="btn btn-primary btn-lg btn-block">Take me to the topic</button>
      </div>
    </div>
  </div>

  <div href="#" class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Bootstrap</h5>
        <button type="button" class="btn btn-primary btn-lg btn-block">Take me to the topic</button>
      </div>
    </div>
  </div>

  <div href="#" class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Express</h5>
        <button type="button" class="btn btn-primary btn-lg btn-block">Take me to the topic</button>
      </div>
    </div>
  </div>

</div>

<div class="row mt-5">
  <div href="#" class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">jQuery</h5>
        <button type="button" class="btn btn-primary btn-lg btn-block">Take me to the topic</button>
      </div>
    </div>
  </div>

  <div href="#" class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">MySQL</h5>
        <button type="button" class="btn btn-primary btn-lg btn-block">Take me to the topic</button>
      </div>
    </div>
  </div>

  <div href="#" class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Javascript</h5>
        <button type="button" class="btn btn-primary btn-lg btn-block">Take me to the topic</button>
      </div>
    </div>
  </div>

</div>